@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap');

:root {
    --backFill: #121212;
    --navbFill: #202124;
    --textFill: #efefef;
    --gradFill: #113944;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    color: var(--textFill);
}

html {
    overflow: hidden;
    height: 100%;
    background-color: var(--backFill);
}

body {
    height: 100%;
    overflow: auto;
}

.item {
    background: linear-gradient(90deg, rgb(14, 57, 88) 0%, rgba(0,0,0,1) 40%, rgb(92, 31, 41) 100%);
    width: 100vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #efefef 1px solid;
}

.name {
    width: 30vw;
    height: 10vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.links {
    width: 65vw;
    height: 10vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: left;
}

.link {
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link a {
    width: 18vh;
    height: 18vh;
    border-radius: 2vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 900;
}

.linkB {
    width: 18vh;
    height: 18vh;
}

h2 {
    width: 25vw;
    text-align: left;
}

h3 {
    width: 25vw;
    text-align: left;
    font-weight: 300;
}

img {
    width: 4.5vh;
    height: 4.5vh;
    padding-bottom: 0.5vh;
}

.discord {
    background-color: #5865F2;
}

.youtube {
    background-color: #F40407;
}

.twitter {
    background-color: #1DA1F2;
}

.twitch {
    background-color: #6441a5;
}

.container {
    flex-direction: column;
    display: flex;
    align-items: left;
    justify-content: center;
}